<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Simple Calculator</h1>
<form method="post">
    <input type="text" name="number1" pattern="\d+" required>

    <select name="buttons">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="x">x</option>
        <option value="/">/</option>
    </select>

    <input type="text" name="number2" pattern="\d+" required>

    <input type="submit" value="=">

</form>
</body>
</html>
